body {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.sidebar {
    flex: 1 1 50px;
    background-color: #f0f0f0;
    padding: 10px;
    min-height: 100vh;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #0056b3;
    margin-bottom: 5px;
}
.sidebar a:hover {
    background: #ddd;
}

.content {
    flex: 3 1 600px;
    padding: 10px;
    box-sizing: border-box
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.content figure {
    padding: 20px
}

@media only screen and (max-width: 480px) {
    body {
        flex-direction: column; /* Stack sidebar and content */
    }
    .sidebar {
        flex: 1 1 auto; /* Sidebar adjusts height to content on mobile */
        min-height: auto; /* Remove full height on mobile */
        height: auto; /* Let the sidebar adjust naturally */
    }
    .content {
        flex: 1 1 auto;
    }
}